html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #003333;
    background: url('images/road.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    border-style: solid;
    border-color: black;
}

.container { 
    padding: 20px 20px 50px 20px;
}

.col {
    width: 50%;
    float: left;
    text-align: right;
}

.col-right {
    width: 50%;
    float: left;
    text-align: left;
}

.attr {
    padding-left: 12px;
    padding-right: 12px;
    background-color: yellow;
}

.value {
    padding-left: 12px;
    padding-right: 12px;
    background-color: black;
    color: white;
}

.row {
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 65%;
}

.title {
    font-size: 24pt;
    font-weight: 700;
    background-color: yellow;
    color: black;
    margin-left: auto;
    margin-right: auto;
    line-height: 4.0;
    text-align: center;
    width: 30%;
}

.subtitle {
    line-height: 1.5;
    font-size: 16pt;
    background-color: black;
    color: yellow;
    width: 55%;
}

.btn {
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    background-color:yellow;
    color: black;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 12px;
    text-decoration:none;
}

.btn:hover {
    background-color: #e9e9e9;
}
